<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    COMPONENT
  </head>
  <body>
    <div id="app"/>
      <span>{{ message }} </span>
      <ul>
        <todo-item 
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ul>
    </div>

    <div id="button-counter">
      <button v-on:click="counter += 1"> Add One</button>
      <button v-on:click="counter -= 1"> Remove One</button>
      <p> The button has been clicked {{ counter }} time.</p>
    </div>

  </body>
  <script src="main.js" type="module"></script>
</html>

